/* VARIABLES */

$bgcolor-fondo: #fae7cb;
$amarillo: #ffcc00;
$beige: #b38e4b;
$naranja: #FF9F45;
$fuxia: #FC4F4F;
$carmesi: #be3434;
$crema: #ffd0b3;
$marron-d: #422911;
$marron-l: #743902;
$img-max: 310px;
$br-solapas: 1rem;
$ff-t: "Source Sans Pro", "sans serif";
$ff-p: "Epilogue", "sans serif";
$fw: (
    l: 400,
    h: 700,
);
$fs: (
    s: 17px,
    m: 19px,
    l: 24px,
    xl: 32px,
);
@mixin links-after($cont, $pos, $tp, $lft, $wd, $hg, $tsf, $tsf-og, $tsn, $bg-color) {
    content: $cont;
    position: $pos;
    top: $tp;
    left: $lft;
    width: $wd;
    height: $hg;
    transform: $tsf;
    transform-origin: $tsf-og;
    transition: $tsn;
    background-color: $bg-color;
}



/* IMPORT */

@import "partials/_generales";
@import "partials/_componentes";
@import "partials/_mq-tablet";
@import "partials/_mq-mobile";