/* Media Queries MOBILE */

@media screen and (max-width: 600px) {

    /* GENERALES */

    main {
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding-top: 8rem;
        font-size: 80%;
        line-height: 200%;
    }

    .h1-index {
        display: flex;
        flex-direction: column;
        margin-top: 35%;
        height: 60vh;
        width: 100%;
        line-height: 400%;
        
        h1 {
            font-size: 80px !important;
        }
    
        .h1-index__title {
            margin: 0 auto;
            text-align: center;
            align-self: center;
            margin-bottom: 2rem;
        }
    
        b {
            font-size: map-get($fs, xl);
        }
    
        span {
            font-weight: 700;
            font-style: italic;
            font-size: map-get($fs, l);
        }
    }
    
    h1 {
        font-size: 57px !important;
    }

    h2 {
        font-size: map-get($fs, l) !important;
    }


    h3 {
        font-size: map-get($fs, m) !important;
    }

    p {
        font-size: map-get($fs, s) !important;
    }

    .header {
        min-height: 100px;
        flex-wrap: nowrap;

        .header__cont-logo {
            display: flex;
            justify-content: flex-start;
            width: 33%;
            padding-left: 5%;

            h1 {
                font-size: 125%;
                line-height: 100%;
            }

            .header__cont-logo__img {
                width: 50px;
                height: 50px;
            }

            .header__cont-logo__name--esp {
                display: none;
            }

            #divisor-logo {
                display: none;
            }

            .header__cont-logo__name--jap {
                display: none;
            }
        }

        .header__cont-links {
            margin-top: 1rem;
            display: flex;
            width: 66%;
            justify-content: flex-end;
            padding-right: 5%;
            align-content: flex-end;

            .header__cont-links__links {
                display: none;
            }
        
            .header__cont-links__icons {
                font-size: larger;
                display: flex;
                gap: 1.6rem;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 12px;
        line-height: 150%;
        gap: 0px;

        i {
            font-size: 400%;
        }
    }



    /* INDEX */

    .seccion-productos__marcas {
        max-height: 50vh;

        img, a {
            max-width: 150px;
            min-width: 75px;
            max-height: 75px;
        }
    }

    .texto-solapa--rosa {
        font-size: 22px !important;
        margin-top: 5%;
        padding-right: 20px;
        padding-left: 20px;
        background-color: $fuxia;
        margin-bottom: -0.5%;
    }

    .tutorialesjcc {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        max-height: 50vh;
    }

    iframe {
        max-width: 80vw;
        min-height: 45vw;
        border-radius: $br-solapas;
        margin-bottom: 0;
    }



    /* PRODUCTOS */

    .filtros {
        animation: none;
    }

    .filtros-sidebar {
        position: fixed;
        width: 100vw;
        height: 50px;
        background-color: $amarillo;
        box-shadow: 1px 1px 1rem 1px $beige;;
        margin-left: -2.51%;
        margin-right: -2.51%;
        margin-top: -1.75rem;
        z-index: 5;
    }

    #link-marron {
        color: $marron-l !important;
    }

    .btn-open-sidebar {
        font-size: 150%;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 12px;
        right: 5.5%;
        align-items: center;
        justify-content: flex-end;
        gap:.5rem;
        font-weight: 700;

        p {
            text-align: center;
            margin-top: 20px;
        }
    }

    #h1-products {
        margin-top: 2rem;
    }

    .productos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        margin-left: -5%;

        div {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 25px;

            p {
                margin: 0 auto;
            }

            div {
                margin-left: 5%;
                width: 50%;

                img {
                    max-height: 170px;
                    max-width: 40vw;
                }
            }
        }
    }

    .btn-open-sidebar {
        position: fixed;
        z-index: 2;
    }

    .filtros {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: .25rem;
        padding-top: 10rem;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 1;
        background-color: #ddb05cee;
    }
    
    .filtros__categoria__titulo, .filtros__categoria__checkbox, .filtros__marca__titulo, .filtros__marca__checkbox, .filtros__rango-precio__titulo, .filtros__rango-precio__filtro {
        background-color: transparent;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .btn-close-sidebar {
        display: flex;
        font-size: 32px;
        margin-left: 10%;
        color: $marron-d !important;
    }


    /* SERVICIOS */
    .servicios__subtitulo {
        font-size: map-get($fs, m) !important;
    }

    .servicios__descripcion {
        font-size: map-get($fs, s) !important;
    }



    /* CONSULTA */

    .forms {
        font-size: 95%;
    }

    .form1__titulo, .form2__titulo {
        font-size: 18px !important;
    }

    .form1__inputs {
        width: 85vw !important;
        min-width: 10rem;
        margin-bottom: 10%;
    }

    .form2__inputs {
        padding: 2.8%;
        text-align: center;
        border-radius: $br-solapas;
        width: 85vw !important;
        font-size: 125%;
        line-height: 200%;
        
        .form2__inputs__radial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #selectfile {
            display: flex;
            flex-direction: column;
        }    

        .form2__inputs__selector__input {
            height: 1.5rem;
        }

        .form2__inputs__selector__leyenda {
            font-size: 100%;
        }
    
        .form2__inputs__selector__btn {
            display: flex;
            align-items: center;
            font-size: 100%;
            font-family: $ff-p;
            margin: 0 auto;
            max-width: 165px;
        }

        .form2__inputs__selector__comentarios {
            display: block;
            align-items: center;

            textarea{
                width: 100%;
            }
        }
    }

    .contacto-prefooter__texto {
        font-size: map-get($fs, s) !important;
    }



    /* FAQ */

    .faq__pregunta {
        font-size: large !important;
    }

    .faq__respuesta {
        font-size: map-get($fs, s) !important;
    }

    .faq__ul {
        font-size: map-get($fs, s) !important;
        margin-left: 10% !important;
    }
}